<spacer size="16"></spacer>

<container>
    <row>
        <columns large="12" small="12" class="header">
          <row>
            <columns large="12" small="12" class="tiny-link">
              <a href="#">
                Deals to ace your budget.
              </a>
            </columns>
          </row>
          <spacer size="24"></spacer>
          <row>
            <columns large="6" small="12" class="logo">
              <a href="#"><img class="small-float-center" src="https://i.imgur.com/RsTD2Ri.png" /></a>
            </columns>
            <columns class="show-for-small divider" large="0" small="12" valign="middle">
                <span class="info-divider"></span>
            </columns>
            <columns large="6" small="12" class="info">
              <a class="latest" href="#">SEE OUR LATEST WEEKLY AD</a>
              <p class="text-right small-text-center delivery">FREE NEXT-DAY DELIVERY</p>
              <a class="details" href="#">See details.</a>
            </columns>
          </row>
          <spacer size="14"></spacer>
          <row>
            <columns large="12" class="nav-menu show-for-large">
              <menu>
                <item class="first-item" href="#">OFFICE SUPPLIES</item>
                <item href="#">INK & TONER</item>
                <item href="#">TECHNOLOGY</item>
                <item href="#">FURNITURE</item>
                <item href="#">DRINKS & SNACKS</item>
                <item class="last-item" href="#">PRINT & MARKETING SERVICES</item>
              </menu>
            </columns>
          </row>
        </columns>
      </row>
</container>